*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
}

#canvas--popup{
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 100px;
}

#root{
  .article{
    padding: 10px;
  }
}
