*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  position: relative;
  background-color: blueviolet;
}

#canvas--popup{
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 100px;
  color: cyan;
}
#canvas{

}
#root{
  .article{
    padding: 10px;
    border: 1px solid;
    width: 300px;
    margin: 0 auto;
  }
}
